*{
    border: 1px solid red;
    margin: 0px;
}

body{
    outline-color: #1F2937;
}
/* This segment is for header content */
.header{
    background-color: #1F2937;
    padding: 20px 150px 20px;
}

.headertop{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 80px;
    align-items: center;

}

.headerbot{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
    align-items: center;
    gap: 100px;

}

.headerlogo{
    font-size:24px;
    color: #f9faf8;
    
}
.maintitledesc{
    font-size: 18px;
    color:  #e5e7eb;
}
.maintitle{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

img{
    height: 150px;
    width: auto;
}

.signuplink{

    text-align: center;
    background-color: #3882f6;
    padding: 5px 30px 5px;
    margin:0px;
    border: 0px;
    border-radius: 8px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color:  #e5e7eb;
}

/* This Segment is for the center content of landing page */

.somerandom{
    text-align: center;
    padding: 30px;
}
.fourimages{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0px 300px 0px;
}
.image{
    padding-left: 30px;
    padding-right: 30px;
}

/* This segment is for the quote content */

.hero{
    /*padding: 0px 500px 0px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 1000px;
    color: #1f2937;
    padding-top: 100px;
}
.quoter{
    text-align: end;
    width: 1000px;
    padding-bottom: 100px;
}

/* This segment is for the footer */