/*{
    border: 1px solid red;
    margin: 0px;
} */

/* Color and Font Styles for landing page */

.header,
.footer{
    background-color: #1F2937;
}
.heromaintext{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.herosecondary,
.links,
.footer,
.action-text{
    font-size: 18px;
    color:  #e5e7eb;
    text-decoration: none;
}
.headerlogo{
    font-size:24px;
    color: #f9faf8;
    
}
button{
    background-color: #3882f6;
}
.info-header{
    text-align: center;
    padding: 30px;
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
}

/* This segment is for header content */
.header{
    padding: 20px 150px 20px;
}
.headertop{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 80px;
    align-items: center;

}
.headerbot{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
    align-items: center;
    gap: 100px;

}
img{
    height: 150px;
    width: auto;
}

.head-button{
    text-align: center;
    padding: 5px 20px 5px;
    border-radius: 8px;
    font-weight: bolder;
}

/* This Segment is for the information content of landing page */

.info-images{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0px 300px 0px;
}
.image{
    padding-left: 30px;
    padding-right: 30px;
}

/* This segment is for the quote content */

.quote{
    /*padding: 0px 500px 0px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}

.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    width: 1000px;
    color: #1f2937;
    padding-top: 100px;
}
.quoter{
    text-align: end;
    width: 1000px;
    padding-bottom: 100px;
}

/* This segment is for the call to action */

.calltoaction,
.footer{
   display: flex;
   justify-content: center;
   padding-top: 50px;
   padding-bottom: 50px;
}

.lefttext,
.actionlink{
    background-color: #3882f6;
    padding: 20px;
}

.lefttext{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.actionlink{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


/* This segment is for the footer */
