*{
    border: 1px solid red;
    margin: 0px;
}

.header{
    background-color: #1F2937;
    padding: 20px 150px 20px;
}

.headertop{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 80px;
    align-items: center;

}

.headerbot{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    align-items: center;
    gap: 100px;

}

.headerlogo{
    font-size:24px;
    color: #f9faf8;
    
}
.maintitledesc{
    font-size: 18px;
    color:  #e5e7eb;
}
.maintitle{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

img{
    height: auto;
    width: 250px;
}

.signuplink{

    text-align: center;
    background-color: #3882f6;
    padding: 5px 30px 5px;
    margin:0px;
    border: 0px;
    border-radius: 8px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color:  #e5e7eb;
}